@import "tailwindcss";



body {
  background-color:#ffffff;
  color: #1e1e1e;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  background-repeat: repeat;
  background-size: auto;
}